@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-family: 'Arial', 'PingFang SC', 'Hiragino Sans GB', 'STHeiti', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* -webkit-touch-callout:none; */
  -webkit-font-smoothing: antialiased;
  /* -webkit-user-select:none;
    user-select:none; */
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  pointer-events: none;
  /* cursor: none; */
}
b {
  font-weight: 600;
}
svg:not(:root) {
  overflow: hidden;
}
img {
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #353535;
}
a:hover {
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 600;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  margin: 8px 0;
  line-height: 120%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}

::selection {
  background: #333;
  color: white;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}
/* 定位对齐 */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
/* 文本对齐 */
.text.center {
  text-align: center;
}
.text.left {
  text-align: left;
}
.text.right {
  text-align: right;
}
/* 浮动对齐 */
.float.left,
.float.right {
  display: inline;
}
.float.left {
  float: left;
}
.float.right {
  float: right;
}
.clear {
  clear: both;
  zoom: 1;
  font-size: 0;
  height: 0;
}
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.videoWarp {
  overflow: hidden;
}
.videoWarp .number {
  font-size: 130px;
  font-weight: bold;
  color: #fff;
  position: fixed;
  left: 45%;
  top: 40%;
  z-index: 99;
}

.videoWarp .test {
  position: absolute;
  left: 0;
  top: 30%;
  width: 550px;
  height: 200px;
  padding: 5px 15px 5px 15px;
  background-color: #fff;
  font-size: 66px;
  display: block;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden;
}
